<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Character set declaration -->
    <meta charset="UTF-8" />
    <!-- Viewport configuration for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Webpage title -->
    <title>Livestock-Learner</title>
    <!-- Link to external CSS for page styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Importing Socket.IO library for real-time web applications -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
      // Ensures the script runs after the DOM is fully loaded
      document.addEventListener("DOMContentLoaded", function () {
        // Initializes Socket.IO client to connect with the server
        const socket = io.connect(
          location.protocol + "//" + document.domain + ":" + location.port
        );

        // Retrieves the video feed element for manipulation
        const videoFeed = document.getElementById("video-feed");

        // Listening for 'video_frame' event to update the video feed
        socket.on("video_frame", function (data) {
          // Encoding binary data to base64 format for image display
          const src = "data:image/jpeg;base64," + btoa(
            new Uint8Array(data).reduce(
              (data, byte) => data + String.fromCharCode(byte),
              ""
            )
          );
          // Updating the 'src' attribute of the video feed element
          videoFeed.src = src;
        });

        // Listening for 'video_resolution' event to adjust video feed size
        socket.on("video_resolution", function (resolution) {
          // Setting video feed dimensions based on received resolution
          videoFeed.style.width = resolution.width + "px";
          videoFeed.style.height = resolution.height + "px";
        });

        // Emitting 'start_video' event to begin video stream on page load
        socket.emit("start_video");

        // Event listener for capture button to trigger image capture
        document.querySelector(".btn").addEventListener("click", function () {
          // Emitting 'capture_image' event upon button click
          socket.emit("capture_image");
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <!-- Heading displaying the name of the application -->
      <h1 id="title">Livestock-Learner</h1>
      <!-- Image element used to display the video feed -->
      <img id="video-feed" alt="Video Feed" />
      <!-- Button to capture the current frame from the video feed -->
      <button class="btn">Capture</button>
    </div>
  </body>
  <footer>
    <p>Made with <i class="fas fa-heart"></i> by Project Design Team 4</p>
  </footer>
</html>
